<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .container {
            margin-top: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<main class="container">
    <div>
        <h1>Welcome to home! We are going to github!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at atque aut delectus deserunt excepturi illum
            libero molestias nisi quasi quis recusandae sed, sit tenetur totam, ullam veritatis vitae voluptatum!</p>

    </div>
</main>
</body>
</html>